# Esse código por usar a biblioteca oficial do Google Cloud Plataform (bq_helper), deve ser utilizado no datalab da Google ou no Kaggle.

## A biblioteca bq_helper, é uma ferramenta desenvolvida pelo usuário SohierDane para facilitar a interação com o Google BigQuery no ambiente Python. Ela oferece uma série de utilitários e funções para tornar mais simples o processo de consulta e manipulação de dados no BigQuery.

### Algumas características e funcionalidades principais do bq_helper:

- Conexão com o BigQuery: A biblioteca permite a conexão com o serviço do Google BigQuery diretamente do Python. Isso significa que você pode executar consultas e recuperar dados do BigQuery sem sair do ambiente Python.

- Sintaxe Simplificada para Consultas: O bq_helper fornece uma sintaxe simplificada para escrever e executar consultas no BigQuery. Isso pode economizar muito tempo

# IMPORTANDO AS BIBLIOTECAS

In [1]:
import re

import pandas as pd
import numpy as np
import bq_helper
from bq_helper import BigQueryHelper

In [2]:
def convert_fahrenheit_to_celsius(value_fahrenheit):
    
    """
    
        REALIZA A CONVERSÃO DE UM VALOR
        DA ESCALA FAHRENHEIT PARA CELSIUS.
        
        # Arguments
            value_fahrenheit   - Required: Valor na escala fahrenheit (Integer | Float)
        
        # Returns
            value_celsius      - Required: Valor na escala celsius (Integer | Float)
    
    """
    
    value_celsius = (value_fahrenheit - 32) * 5/9
    return value_celsius

In [3]:
def convert_milibar_to_pascal(value_milibar):
    
    """
    
        REALIZA A CONVERSÃO DE UM VALOR
        DA ESCALA FAHRENHEIT PARA CELSIUS.
        
        # Arguments
            value_milibar      - Required: Valor na escala milibar (Integer | Float)
        
        # Returns
            value_pascal       - Required: Valor na escala Pascal (Integer | Float)
    
    """
    
    value_pascal = value_milibar*100
    return value_pascal

In [4]:
def convert_knots_to_ms(value_knots):
    
    """
    
        REALIZA A CONVERSÃO DE UM VALOR
        DA ESCALA FAHRENHEIT PARA CELSIUS.
        
        # Arguments
            value_knots        - Required: Valor na escala knots (Integer | Float)
        
        # Returns
            value_ms           - Required: Valor na escala metros por segundo (m/s) (Integer | Float)
    
    """
    
    value_ms = value_knots*0.514444
    return value_ms

In [5]:
def convert_inch_to_meters(value_inch):
    
    """
    
        REALIZA A CONVERSÃO DE UM VALOR
        DA ESCALA FAHRENHEIT PARA CELSIUS.
        
        # Arguments
            value_inch         - Required: Valor na escala inch (Integer | Float)
        
        # Returns
            value_meters       - Required: Valor na escala metros (m) (Integer | Float)
    
    """
    
    value_meters = value_inch*0.0254
    return value_meters

# INSTANCIANDO O DATASET DESEJADO

## O dataset está no bigquery do GCP

In [6]:
ghcn_daily = bq_helper.BigQueryHelper(active_project="bigquery-public-data", 
                                      dataset_name="noaa_gsod")

Using Kaggle's public dataset BigQuery integration.

## OBTENDO A LISTA DE ANOS DISPONÍVEIS

In [7]:
bq_assistant = BigQueryHelper("bigquery-public-data", 
                              "noaa_gsod")
list_tables = bq_assistant.list_tables()

Using Kaggle's public dataset BigQuery integration.

## FILTRANDO TABELAS DE ANOS

In [8]:
list_tables_year = [table for table in list_tables if re.search(r'\d{4}', table)]

In [9]:
list_tables_year

['gsod1929',
 'gsod1930',
 'gsod1931',
 'gsod1932',
 'gsod1933',
 'gsod1934',
 'gsod1935',
 'gsod1936',
 'gsod1937',
 'gsod1938',
 'gsod1939',
 'gsod1940',
 'gsod1941',
 'gsod1942',
 'gsod1943',
 'gsod1944',
 'gsod1945',
 'gsod1946',
 'gsod1947',
 'gsod1948',
 'gsod1949',
 'gsod1950',
 'gsod1951',
 'gsod1952',
 'gsod1953',
 'gsod1954',
 'gsod1955',
 'gsod1956',
 'gsod1957',
 'gsod1958',
 'gsod1959',
 'gsod1960',
 'gsod1961',
 'gsod1962',
 'gsod1963',
 'gsod1964',
 'gsod1965',
 'gsod1966',
 'gsod1967',
 'gsod1968',
 'gsod1969',
 'gsod1970',
 'gsod1971',
 'gsod1972',
 'gsod1973',
 'gsod1974',
 'gsod1975',
 'gsod1976',
 'gsod1977',
 'gsod1978',
 'gsod1979',
 'gsod1980',
 'gsod1981',
 'gsod1982',
 'gsod1983',
 'gsod1984',
 'gsod1985',
 'gsod1986',
 'gsod1987',
 'gsod1988',
 'gsod1989',
 'gsod1990',
 'gsod1991',
 'gsod1992',
 'gsod1993',
 'gsod1994',
 'gsod1995',
 'gsod1996',
 'gsod1997',
 'gsod1998',
 'gsod1999',
 'gsod2000',
 'gsod2001',
 'gsod2002',
 'gsod2003',
 'gsod2004',
 'gsod2005',
 'gsod2006',
 'gsod2007',
 'gsod2008',
 'gsod2009',
 'gsod2010',
 'gsod2011',
 'gsod2012',
 'gsod2013',
 'gsod2014',
 'gsod2015',
 'gsod2016',
 'gsod2017',
 'gsod2018',
 'gsod2019',
 'gsod2020',
 'gsod2021',
 'gsod2022',
 'gsod2023']

# OBTENDO OS DADOS

In [10]:
# INICIANDO O DATAFRAME
df = pd.DataFrame()

for year in list_tables_year:
    
    try:
        print("ANO ATUAL: {}".format(year))

        QUERY = """
        SELECT
          ghcn.stn,
          ghcn.year,
          ghcn.mo AS month,
          ghcn.da AS day,
          stations.name,
          stations.country,
          stations.state,
          stations.lat,
          stations.lon,
          stations.begin,
          stations.end,
          ghcn.temp,
          ghcn.prcp,
          CAST(ghcn.wdsp AS float64) as wdsp,
          ghcn.sndp
        FROM
          `bigquery-public-data.noaa_gsod.{year}` ghcn
        INNER JOIN
          `bigquery-public-data.noaa_gsod.stations` stations
        ON
          ghcn.stn = stations.usaf
        WHERE
          stations.country LIKE 'BR'
        """.format(year=year)

        df_weather = bq_assistant.query_to_pandas(QUERY)

        df = pd.concat([df, df_weather])
    except Exception as ex:
        print(ex)

ANO ATUAL: gsod1929
ANO ATUAL: gsod1930
ANO ATUAL: gsod1931
ANO ATUAL: gsod1932
ANO ATUAL: gsod1933
ANO ATUAL: gsod1934
ANO ATUAL: gsod1935
ANO ATUAL: gsod1936
ANO ATUAL: gsod1937
ANO ATUAL: gsod1938
ANO ATUAL: gsod1939
ANO ATUAL: gsod1940
ANO ATUAL: gsod1941
ANO ATUAL: gsod1942
ANO ATUAL: gsod1943
ANO ATUAL: gsod1944
ANO ATUAL: gsod1945
ANO ATUAL: gsod1946
ANO ATUAL: gsod1947
ANO ATUAL: gsod1948
ANO ATUAL: gsod1949
ANO ATUAL: gsod1950
ANO ATUAL: gsod1951
ANO ATUAL: gsod1952
ANO ATUAL: gsod1953
ANO ATUAL: gsod1954
ANO ATUAL: gsod1955
ANO ATUAL: gsod1956
ANO ATUAL: gsod1957
ANO ATUAL: gsod1958
ANO ATUAL: gsod1959
ANO ATUAL: gsod1960
ANO ATUAL: gsod1961
ANO ATUAL: gsod1962
ANO ATUAL: gsod1963
ANO ATUAL: gsod1964
ANO ATUAL: gsod1965
ANO ATUAL: gsod1966
ANO ATUAL: gsod1967
ANO ATUAL: gsod1968
ANO ATUAL: gsod1969
ANO ATUAL: gsod1970
ANO ATUAL: gsod1971
ANO ATUAL: gsod1972
ANO ATUAL: gsod1973
ANO ATUAL: gsod1974
ANO ATUAL: gsod1975
ANO ATUAL: gsod1976
ANO ATUAL: gsod1977
ANO ATUAL: gsod1978
ANO ATUAL: gsod1979
ANO ATUAL: gsod1980
ANO ATUAL: gsod1981
ANO ATUAL: gsod1982
ANO ATUAL: gsod1983
ANO ATUAL: gsod1984
ANO ATUAL: gsod1985
ANO ATUAL: gsod1986
ANO ATUAL: gsod1987
ANO ATUAL: gsod1988
ANO ATUAL: gsod1989
ANO ATUAL: gsod1990
ANO ATUAL: gsod1991
ANO ATUAL: gsod1992
ANO ATUAL: gsod1993
ANO ATUAL: gsod1994
ANO ATUAL: gsod1995
ANO ATUAL: gsod1996
ANO ATUAL: gsod1997
ANO ATUAL: gsod1998
ANO ATUAL: gsod1999
ANO ATUAL: gsod2000
ANO ATUAL: gsod2001
ANO ATUAL: gsod2002
ANO ATUAL: gsod2003
ANO ATUAL: gsod2004
ANO ATUAL: gsod2005
ANO ATUAL: gsod2006
ANO ATUAL: gsod2007
ANO ATUAL: gsod2008
ANO ATUAL: gsod2009
ANO ATUAL: gsod2010
ANO ATUAL: gsod2011
ANO ATUAL: gsod2012
ANO ATUAL: gsod2013
ANO ATUAL: gsod2014
ANO ATUAL: gsod2015
ANO ATUAL: gsod2016
ANO ATUAL: gsod2017
ANO ATUAL: gsod2018
ANO ATUAL: gsod2019
ANO ATUAL: gsod2020
ANO ATUAL: gsod2021
ANO ATUAL: gsod2022
ANO ATUAL: gsod2023

In [11]:
df.head()

,stn,year,month,day,name,country,state,lat,lon,begin,end,temp,prcp,wdsp,sndp
0,821930,1942,10,17,VAL DE CANS INTL,BR,None,-1.379,-48.476,19421001,20210920,80.2,99.99,4.3,999.9
1,821930,1942,10,16,VAL DE CANS INTL,BR,None,-1.379,-48.476,19421001,20210920,77.8,99.99,4.1,999.9
2,821930,1942,10,30,VAL DE CANS INTL,BR,None,-1.379,-48.476,19421001,20210920,81.5,0.00,10.0,999.9
3,821930,1942,10,31,VAL DE CANS INTL,BR,None,-1.379,-48.476,19421001,20210920,81.3,0.00,9.6,999.9
4,821930,1942,11,01,VAL DE CANS INTL,BR,None,-1.379,-48.476,19421001,20210920,81.4,0.00,8.8,999.9

In [12]:
df.describe()

,lat,lon,temp,prcp,wdsp,sndp
count,2.378084e+06,2.378084e+06,2.378084e+06,2.378084e+06,2.378084e+06,2.378084e+06
mean,-1.573284e+01,-4.802205e+01,7.556541e+01,1.113232e+01,2.250357e+01,9.998228e+02
std,8.810803e+00,7.561121e+00,7.824429e+00,3.139051e+01,1.314073e+02,8.776842e+00
min,-3.375000e+01,-7.278700e+01,1.790000e+01,0.000000e+00,0.000000e+00,4.000000e-01
25%,-2.287500e+01,-5.238900e+01,7.130000e+01,0.000000e+00,2.700000e+00,9.999000e+02
50%,-1.663200e+01,-4.795000e+01,7.700000e+01,0.000000e+00,4.400000e+00,9.999000e+02
75%,-8.126000e+00,-4.286700e+01,8.100000e+01,0.000000e+00,6.600000e+00,9.999000e+02
max,3.867000e+00,-2.931700e+01,1.065000e+02,9.999000e+01,9.999000e+02,9.999000e+02

# PÓS-PROCESSAMENTO

## CONVERSÃO DA TEMPERATURA DE 'FAHRENHEIT (F)' PARA 'CELSIUS (C)'

In [15]:
df["temp_celsius"] = df["temp"].apply(lambda x: convert_fahrenheit_to_celsius(x))

## CONVERSÃO DA PRECIPITAÇÃO MÉDIA DE 'MILIBAR (mb)' PARA 'PASCAL (Pa)'

In [16]:
df["prcp"] = df["prcp"].apply(lambda x: convert_milibar_to_pascal(x))

## CONVERSÃO DA VELOCIDADE MÉDIA DO VENTO DE 'KNOTS (kn)' PARA 'METROS POR SEGUNDO (m/s)'

In [18]:
df["wdsp"] = df["wdsp"].apply(lambda x: convert_knots_to_ms(x))

## CONVERSÃO DA PROFUNDIDADE DA NEVE ACUMULADA DE 'INCH (in)' PARA 'METROS (m)'

In [19]:
df["sndp"] = df["sndp"].apply(lambda x: convert_inch_to_meters(x))

### CONVERTENDO VALORES ATÍPICOS PARA NAN

In [33]:
df["prcp"] = df["prcp"].replace(9999.00, np.nan)

# EXPORTANDO O RESULTADO

In [39]:
df.to_csv('data_brazil_daily.csv', index=False)